header{
    background-color: antiquewhite;
   color: rgb(224, 198, 82);
   text-align: center;
   padding: 20px 0;
    
}
nav {
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
}
nav a {
    color: rgb(224, 198, 82);
    text-decoration: none;
    margin: 0 15px;

}