header{

background-color: palevioletred;
color: rgb(228, 54, 83);
text-align: center;
padding: 20px 0;
    
}
nav {
    background-color: palevioletred;
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;

}