header{
    background-color: antiquewhite;
   color: rgb(224, 82, 201);
   text-align: center;
   padding: 20px 0;
    
}


nav {
    background-color: rgb(211, 52, 174);
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;

}
.block{
    width: auto;
    height: auto;
    background-color: antiquewhite;
    text-align: center;
    line-height: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px;
    transition: transform 0.3s ease-in-out;
    padding-top: 100px;

}
