header{
background-color: rgb(192, 52, 192);
   color: rgb(250, 141, 232);
   text-align: center;
   padding: 20px 0;
    
}
nav {
    background-color: rgb(211, 52, 174);
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;

}