header{
 background-color: rgb(61, 161, 61);
 color: rgb(12, 77, 12);
   text-align: center;
   padding: 20px 0;
    
}
nav {
    background-color: rgb(61, 161, 61);
    text-align: center;
    padding: 10px 0;

}
nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;

}
